.stepperContainer {
	display: flex;
  justify-content: space-between;
  width:120px;
}

.stepperInput {
  width:50px;
  text-align: center;
  outline:none;
  border:0.1px solid black;
  border-radius:8px;
  padding:none;
}

.stepperBtn:hover{
  cursor:pointer;
}

.stepperBtn:disabled{
  cursor:not-allowed;
  background-color:rgba(255, 166, 0, 0.222);
  color:rgba(0, 0, 0, 0.478);
}