* {
	margin: 0;
	padding: 0;
	font-family: kode mono;
}
body {
	background-color: white;
}

/* header section css */
.header {
	font-size: 60px;
	background: linear-gradient(to left, rgb(163, 39, 39), rgb(183, 201, 26), blue);
	text-align: center;
}

/* grid info section css */
#grid-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

#btn {
	text-align: center;
	padding: 10px 20px;
}

/* sketch pad section css */
.sketch-pad {
	display: flex;
	flex-wrap: wrap;
	background-color: whitesmoke;
	margin: 10px auto;
}

.grid-box {
	border: 1px solid lightblue;
}
